.externalMainContainer {
  border-bottom: var(--bd-container);
}

.innerMainContainer {
  max-width: var(--max-width);
  width: 100%;
  height: 83px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0 55px;
  z-index: 9995;
  position: relative;
}

.mainMenuContainer {
  display: flex;
  gap: 32px;
  align-items: center;
}

.btnNav {
  border: none;
  background: none;
  cursor: pointer;
  color: #333;
  z-index: 9997;
}

.btnNav:hover {
  cursor: pointer;
}

.mainMenu ul {
  list-style: none;
  display: flex;
  gap: 32px;
  font-size: 18px;
  line-height: 23px;
}

.logoContainer {
  position: relative;
  height: 100%;
}

.logoContainer img {
  object-fit: cover;
}
.userMenuContainer {
  display: flex;
  gap: 45px;
  justify-self: end;
}

.userMenuContainer.mobile{
  display: none;
}

.btnIcon {
  border: none;
  background: none;
  cursor: pointer;
}

.closeOutline {
  display: none;
}

.navVisible .closeOutline {
  display: block;
}

.navVisible .menuOutline {
  display: none;
}

.responsiveNavigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(-100%);
  background: linear-gradient(
    to right,
    #fff 0%,
    #fff 26%,
    rgba(0, 0, 0, 0.25) 26%,
    rgba(0, 0, 0, 0.25) 100%
  );
  opacity: 0;
  z-index: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.5s ease-in;
}

.navVisible .responsiveNavigation {
  opacity: 1;
  z-index: 9000;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

.navVisible .mainMenu ul li:nth-child(-n + 3) {
  opacity: 0;
  pointer-events: none;
}

.navVisible .mainMenu ul li:last-child {
  pointer-events: none;
}

.navVisible .logoContainer {
  pointer-events: none;
}

.navVisible .userMenuContainer {
  pointer-events: none;
}

.innerNavigation {
  max-width: var(--max-width);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 28% 82%;
}

.innerMenu {
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 34px;
  padding-top: 88px;
  padding-left: 62px;
}

.innerMenuTitle h3 {
  color: #000;
  opacity: 0.25;
  font-size: 16px;
  line-height: 23px;
}

.innerMenuNav {
  /* display: flex; */
  flex-direction: column;
  /* gap: 2px; */
}

.innerMenuNav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 32px;
  line-height: 44px;
}

.socialContainer {
  display: flex;
  gap: 23px;
  height: 100%;
  align-items: flex-end;
  padding-bottom: 40px;
}

.customMobile{
  display: none;
}

.socialButtons{
  display: flex;
  gap: 23px;
}

@media (max-width: 850px) {
  .mainMenu {
    display: none;
  }

  .userMenuContainer .btnIcon:nth-child(2),
  .userMenuContainer .btnIcon:nth-child(3) {
    display: none;
  }

  .innerMainContainer {
    padding: 0 32px;
  }

  /* .logoContainer .btnNav img:first-child{
    display: none;
  } */
  .logoContainer img {
    transform: scale(2.5);
    object-position: 100% 41%;
  }

  .innerNavigation {
    grid-template-columns: 100%;
  }

  .responsiveNavigation {
    background: none;
    background-color: #fff;
  }

  .innerMenu {
    padding-left: 0;
    gap: 0;
  }

  .innerMenuNav{
 padding-left: 24px;
  }

  
  .innerMenu .innerMenuNav:first-child{
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 24px;
  }
  
  .userMenuContainer.mobile{
    display: grid;
    gap:0;
   grid-template-columns: repeat(3,1fr);
   height: 56px;
   margin-top: 50px;
   border:  1px solid rgba(0, 0, 0, 0.05);;
  }

  .userMenuContainer.mobile .btnIcon{
    display: block;
    height: 56px;
  }

  .userMenuContainer.mobile .btnIcon:not(:last-child) {
   border-right:1px solid rgba(0, 0, 0, 0.05);; ;
  }

  .socialContainer .customMobile{
    display: block;
  }

  .customDestok{
    display: none;
  }

  .socialContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
      display: flex;
      height: 50px;
      align-items: center;
      padding-bottom: 0;
      width: 100%;
  
  }

  .socialButtons{
    display: flex;
    justify-content: space-between;
    gap: 0;
    padding: 0 60px;
  }

  .emptySpace{
    display: none;
  }

  .userMenuContainer{
    display:none
  }

  .userMenuContainer.mobile{
    display: grid;
  }

  .customMobile{
    width: 50%;
  }
}
