.mainContainer {
  /* width: 100%; */
  height: 940px;
  border-bottom: var(--bd-container);
}

.innerContainer {
  align-items: center;
}

.externalImgContainer {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.imgContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  max-width: 720px;
  width: 100%;
  height: 870px;
  /* display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; */
  padding-left: 14px;
}

.imgContainer img {
  object-fit: contain;
  left: 34px;
}

.arrowsContainer {
  height: 71px;
  max-width: 720px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 35px;
}

.arrowsContainer img:hover {
  cursor: pointer;
}

.mainTitle {
  font-size: 64px;
  line-height: 72px;
}

.informationContainer {
  background-color: var(--cream);
  height: 100%;
  width: 50%;
  border-left: var(--bd-container);
}

.informationFirstContainer {
  width: 100%;
  padding: 30px 179px 95px 55px;
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.informationDescription {
  font-size: 24px;
  line-height: 32px;
  width: 485px;
}

.firstItem {
  display: flex;
  height: 64px;
  align-items: center;
  border-top: var(--bd-container);
  border-bottom: var(--bd-container);
}

.informationSecondContainer.mobile {
  display: none;
}

.informationSecondContainer .firstItem:not(:first-child) {
  border-top: none;
}

.firstItemTitle {
  display: flex;
  gap: 14px;
  width: 244px;
  padding-left: 58px;
}

.firstItemTitle h3 {
  font-size: 24px;
}

.firstItem p {
  font-size: 16px;
}

.buttonContainer {
  height: 218px;
  padding-top: 130px;
  padding-left: 56px;
}

.moreInformation {
  width: 166px;
  height: 49px;
  border-radius: 60px;
  background-color: var(--bg-main);
  border: none;
  font-size: 20px;
  color: #fff;
}

.moreInformation:hover {
  cursor: pointer;
}

@media (max-width: 1300px) {
  .firstItemTitle {
    width: 220px;
    padding-left: 23px;
  }

  .informationSecondContainer .firstItem:first-child  .firstItemTitle{
    width: 214px;
  }


  .informationSecondContainer .firstItem:last-child  .firstItemTitle{
    width: 212px;
  }
}

@media (max-width: 850px) {
  .mainContainer {
    /* width: 100%; */
    height: auto;
  }

  .innerContainer {
    flex-direction: column-reverse;
  }

  .imgContainer {
    width: 100%;
  }

  .informationContainer {
    width: 100%;
    border-left: none;
    border-bottom: var(--bd-container);
  }

  .informationDescription.mobile {
    display: none;
  }

  .informationFirstContainer {
    padding: 18px 24px 32px 24px;
  }

  .mainTitle {
    font-size: 48px;
    line-height: 58px;
  }

  .informationDescription {
    font-size: 16px;
    line-height: 24px;
    width: 330px;
  }

  .informationSecondContainer {
    display: none;
  }

  .informationSecondContainer.mobile {
    display: block;
  }

  .buttonContainer {
    display: none;
  }

  .externalImgContainer {
    width: 100%;
    height: 383px;
    padding-bottom: 42px;
  }

  .arrowsContainer {
    position: absolute;
    top: 50%;
  }

  .externalImgContainer {
    position: relative;
  }

  .firstItem {
    height: 110px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
    padding-left: 24px;
    padding-right: 101px;
  }

  .firstItemTitle {
    padding-left: 0;
  }

  .firstItem p {
    line-height: 24px;
  }
}
