.innerContainer {
  max-width: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
}

.externalNewsContainer {
  width: 100%;
  background-color: #f7f6f2;
  display: flex;
  justify-content: center;
}

.newsContainer {
  display: grid;
  max-width: var(--max-width);
  width: 100%;
  height: 167px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.newsContainer p {
  font-size: 32px;
  line-height: 42px;
}

.firstNewsContainer {
  padding: 0 111px;
}

.SecondNewsContainer {
  padding: 0 70px;
}

.SecondNewsContainer p {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}
.thirdNewsContainer {
  width: 100%;
  padding: 0 56px;
}

.thirdNewsContainer input {
  width: 100%;
  font-size: 24px;
  padding: 12px 20px;
  background-color: transparent;
  background-image: url("/static/arrow-right.svg");
  background-position: 100%;
  background-repeat: no-repeat;
  border: none;
  border-bottom: var(--bd-container);
}

.thirdNewsContainer input::placeholder {
  font-size: 24px;
  line-height: 32px;
  color: #000;
  opacity: 0.25;
}

.thirdNewsContainer input:focus {
  outline: none;
}

.externalMainContainer {
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  color: #fff;
  border-bottom: 1px solid #ffffff;
}

.mainInformation {
  display: grid;
  max-width: var(--max-width);
  padding-top: 84px;
  padding-left: 122px;
  width: 100%;
  height: 315px;
  grid-template-columns: 21% 21% 58%;
  align-items: flex-start;
  justify-items: flex-start;
}

.secondaryInformation {
  display: flex;
  flex-direction: column;
  gap: 63px;
}

.menuInformation {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mainMenu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mainMenuTitle {
  margin-bottom: 19px;
}

.mainMenuTitle h3 {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
}

.mainMenu ul li a {
  font-size: 20px;
  line-height: 24px;
}

.policiesMenu ul {
  list-style: none;
  display: flex;
  gap: 22px;
}

.policiesMenu ul li a {
  font-size: 14px;
  line-height: 17px;
}

.externalCopyright {
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  height: 64px;
  align-items: center;
}

.copyrightContainer {
  max-width: var(--max-width);
  color: #fff;
  font-size: 14px;
  line-height: 17px;
}
.mainMenu.mobile {
  display: none;
}

@media (max-width: 850px) {
  .newsContainer {
    grid-template-columns: 1fr;
    height: auto;
    padding: 40px 34px 80px 34px;
  }

  .firstNewsContainer {
    padding: 0;
    text-align: center;
    margin-bottom: 64px;
  }

  .SecondNewsContainer {
    padding: 0;
    margin-bottom: 24px;
  }

  .thirdNewsContainer {
    width: 100%;
    padding: 0;
  }

  .mainInformation {
    padding: 65px 41px 65px 24px;
    height: auto;
    grid-template-columns: 50% 50%;
  }

  .secondaryInformation {
    margin-top: 56px;
    grid-column: span 2/-1;
    width: 100%;
  }
  .policiesInformation {
    display: none;
  }

  .mainMenu.destok {
    display: none;
  }

  .mainMenu.mobile {
    display: block;
  }

  .externalCopyright {
    height: 49px;
  }
}
